@font-face {
	font-family: Pigiarniq Light;
	src: url('Pigiarniq Light.ttf');
}

body {
	font-family: Pigiarniq Light, sans-serif;
}

.main {
	margin-top: 30px;
	margin-left: 110px;
	color: black;
}

a {
	color: black;
	text-decoration: none;
}

.title {
	margin-bottom: 45px;
	text-align: left;
	font-size: 16px;
}

.title * a {
	text-decoration: none;
	color: black;
}

.content {
	margin: 0px;
}

.menu {
	margin: 0px;
	float: left;
	width: 180px;
	height: 580px;
}

.menu-content {
	vertical-align: top;
}

.frame {
	margin: 0px;
	width: 750px;
	height: 580px;
}

.data {
	margin-left: 50px;
	vertical-align: text-top;
	text-align: left;
	font-size: 14px;
}

.img {
	display: block;
	margin: 0px auto 0px auto;
	text-align: center;
}

.text-div {
	font-size: 14px;
}

.video-infos {
	font-size: 14px;
}

.frame-table {
	margin-left: auto;
	margin-right: auto;
}

.commissioned {
	margin: 0px auto 0px auto;
	border: 0px;
	padding: 0px;
}

.table-first, .table-last, .table-middle {
	margin: 0px;
	border: 0px;
}

.table-middle {
	margin: 7px;
}

.gwt-MenuBar .gwt-MenuItem {
	padding: 0px;
	margin: 0px;
	border: 0px;
    cursor: pointer;
    font-size: 12px;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	font-weight: bold;
}

.gwt-MenuItemSeparator {
	display: none;
}

.left-arrow, .right-arrow {
	width: 11px;
	height: 11px;
}

.left-button, .right-button {
	width: 40px;
	height: 15px;
	outline: none;
    border: none;
    background: transparent;
}

.bold {
	font-weight: bold;
}
